<section class="button_list">
    <ul>
        <li><button id="open_settings">開啟或關閉設定介面</button></li>
        <li><button id="download_weekly">下載週表</button></li>
    </ul>
    <div class="download_hint">＊下載功能注意事項：瀏覽器本身的放大縮小會影響圖片尺寸，另外就是此功能不支援 iOS<</div>
</section>