<style>
    .data_form {
        display: flex;
        flex-direction: column;
        padding: 15px;
        margin: 10px;
        align-items: center;
        background-color: rgb(38, 38, 38);
        border-radius: 20px;
    }

    .input_field {
        margin-bottom: 15px;
        font-size: 15pt;
        color: rgb(190, 190, 190);
        width: 80%;
    }

    .input_field label {
        display: inline-block;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 5px;
    }

    
    .day_setting, .community_setting {
        display: flex;
        flex-direction: column;
        padding: 15px;
        margin-top: 10px;
        width: 80%;
        background-color: white;
        border-radius: 20px;
    }

    .day_setting .input_field, .community_setting .input_field {
        width: 95%;
        color: rgb(38, 38, 38);
    }

    .input_field select, .input_field input {
        height: 40px;
        font-size: 13pt;
        border: 0px;
        background-color: rgb(228, 228, 228);
        padding: 5px 15px;
        width: 100%;
        margin-top: 5px;
    }

    .overflow_hidden{
        overflow: hidden;
    }
</style>

<section class="data_form">
    <div class="input_field"><label for="startDate">開始時間</label><input type="date" id="startDate" /></div>
    <div class="input_field"><label for="titleDescription">標題文字</label><input type="text" id="titleDescription" /></div>
    <div class="input_field"><label for="backgroundColor">背景顏色</label><input type="color" id="backgroundColor" /></div>
    <div class="input_field file_field">
        <label for="backgroundImage">背景圖片（可填網址或選擇檔案）</label>
        <input type="text" id="backgroundImage" class="overflow_hidden"/>
        <input type="file" id="backgroundImageFile" />
        <input type="hidden" id="backgroundImageUrl" />
    </div>
    <div class="input_field file_field">
        <label for="coverArt">封面圖（可填網址或選擇檔案）</label>
        <input type="text" id="coverArt" class="overflow_hidden"/>
        <input type="file" id="coverArtFile" />
        <input type="hidden" id="coverArtUrl" />
    </div>
    <div class="input_field"><label for="coverDescription">封面說明</label><input type="text" id="coverDescription" /></div>
    
    <div class="community_setting">
        <h3>社群設定</h3>
        <div class="input_field">
            <label for="community_youtube">Youtube</label>
            <input type="text" id="community_youtube" />
        </div>
        <div class="input_field">
            <label for="community_twitch">Twitch</label>
            <input type="text" id="community_twitch" />
        </div>
        <div class="input_field">
            <label for="community_twitter">Twitter</label>
            <input type="text" id="community_twitter" />
        </div>
       <div class="input_field">
            <label for="community_facebook">Facebook</label>
            <input type="text" id="community_facebook" />
        </div>
        <div class="input_field">
            <label for="community_instagram">Instagram</label>
            <input type="text" id="community_instagram" />
        </div>
        <div class="input_field">
            <label for="community_plurk">Plurk</label>
            <input type="text" id="community_plurk" />
        </div>
    </div>

    <div class="day_setting">
        <div class="input_field"><label for="day1Style">第一天直播樣式</label>
            <select name="day1Style" id="day1Style">
                <option value="work">工作</option>
                <option value="holiday">假日</option>
            </select>
        </div>
        <div class="input_field"><label for="day1Title">第一天直播標題</label><input type="text" id="day1Title" /></div>
        <div class="input_field"><label for="day1Tag">第一天直播標籤（以 , 隔開）</label><input type="text" id="day1Tag" /></div>
        <div class="input_field"><label for="day1Time">第一天直播時間</label><input type="text" id="day1Time" /></div>
    </div>
    
    <div class="day_setting">
        <div class="input_field"><label for="day2Style">第二天直播樣式</label>
            <select name="day2Style" id="day2Style">
                <option value="work">工作</option>
                <option value="holiday">假日</option>
            </select>
        </div>
        <div class="input_field"><label for="day2Title">第二天直播標題</label><input type="text" id="day2Title" /></div>
        <div class="input_field"><label for="day2Tag">第二天直播標籤（以 , 隔開）</label><input type="text" id="day2Tag" /></div>
        <div class="input_field"><label for="day2Time">第二天直播時間</label><input type="text" id="day2Time" /></div>
    </div>

    <div class="day_setting">
        <div class="input_field"><label for="day3Style">第三天直播樣式</label>
            <select name="day3Style" id="day3Style">
                <option value="work">工作</option>
                <option value="holiday">假日</option>
            </select>
        </div>
        <div class="input_field"><label for="day3Title">第三天直播標題</label><input type="text" id="day3Title" /></div>
        <div class="input_field"><label for="day3Tag">第三天直播標籤（以 , 隔開）</label><input type="text" id="day3Tag" /></div>
        <div class="input_field"><label for="day3Time">第三天直播時間</label><input type="text" id="day3Time" /></div>
    </div>
    
    <div class="day_setting">
        <div class="input_field"><label for="day4Style">第四天直播樣式</label>
            <select name="day4Style" id="day4Style">
                <option value="work">工作</option>
                <option value="holiday">假日</option>
            </select>
        </div>
        <div class="input_field"><label for="day4Title">第四天直播標題</label><input type="text" id="day4Title" /></div>
        <div class="input_field"><label for="day4Tag">第四天直播標籤（以 , 隔開）</label><input type="text" id="day4Tag" /></div>
        <div class="input_field"><label for="day4Time">第四天直播時間</label><input type="text" id="day4Time" /></div>
    </div>

    <div class="day_setting">
        <div class="input_field"><label for="day5Style">第五天直播樣式</label>
            <select name="day5Style" id="day5Style">
                <option value="work">工作</option>
                <option value="holiday">假日</option>
            </select>
        </div>
        <div class="input_field"><label for="day5Title">第五天直播標題</label><input type="text" id="day5Title" /></div>
        <div class="input_field"><label for="day5Tag">第五天直播標籤（以 , 隔開）</label><input type="text" id="day5Tag" /></div>
        <div class="input_field"><label for="day5Time">第五天直播時間</label><input type="text" id="day5Time" /></div>
    </div>

    <div class="day_setting">
        <div class="input_field"><label for="day6Style">第六天直播樣式</label>
            <select name="day6Style" id="day6Style">
                <option value="work">工作</option>
                <option value="holiday">假日</option>
            </select>
        </div>
        <div class="input_field"><label for="day6Title">第六天直播標題</label><input type="text" id="day6Title" /></div>
        <div class="input_field"><label for="day6Tag">第六天直播標籤（以 , 隔開）</label><input type="text" id="day6Tag" /></div>
        <div class="input_field"><label for="day6Time">第六天直播時間</label><input type="text" id="day6Time" /></div>
    </div>

    <div class="day_setting">
        <div class="input_field"><label for="day7Style">第七天直播樣式</label>
            <select name="day7Style" id="day7Style">
                <option value="work">工作</option>
                <option value="holiday">假日</option>
            </select>
        </div>
        <div class="input_field"><label for="day7Title">第七天直播標題</label><input type="text" id="day7Title" /></div>
        <div class="input_field"><label for="day7Tag">第七天直播標籤（以 , 隔開）</label><input type="text" id="day7Tag" /></div>
        <div class="input_field"><label for="day7Time">第七天直播時間</label><input type="text" id="day7Time" /></div>
    </div>
</section>