<style>
    .data_form {
        display: flex;
        position: fixed;
        box-sizing: border-box;
        top: 0;
        right: -30vw;
        flex-direction: column;
        padding: 15px;
        width: 30vw;
        height: 100vh;
        overflow: scroll;
        align-items: center;
        background-color: rgb(38, 38, 38);
        border-radius: 20px;
        z-index: 100;

        transition: right cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
    }

    .data_form.display {
        right: 0;
    }

    @@media (max-width: 930px) {
        .data_form {
            position: static;
            width: 95%;
            height: max-content;
            overflow: auto;
            margin-bottom: 10px;
        }
    }

    .input_field {
        margin-bottom: 15px;
        font-size: 15pt;
        color: rgb(190, 190, 190);
        width: 80%;
    }

    .input_field label {
        display: inline-block;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 5px;
    }

    
    .day_setting, .community_setting {
        display: flex;
        flex-direction: column;
        padding: 15px;
        margin-top: 10px;
        width: 80%;
        background-color: white;
        border-radius: 20px;
    }

    .day_setting .input_field, .community_setting .input_field {
        width: 95%;
        color: rgb(38, 38, 38);
    }

    .input_field select, .input_field input {
        height: 40px;
        font-size: 13pt;
        border: 0px;
        background-color: rgb(228, 228, 228);
        padding: 5px 15px;
        width: 100%;
        margin-top: 5px;
    }

    .input_field textarea {
        font-size: 13pt;
        background-color: rgb(228, 228, 228);
        width: 100%;
        margin-top: 5px;
        resize: vertical;
    }

    .overflow_hidden{
        overflow: hidden;
    }
</style>

<section class="data_form">
    <div class="input_field"><label for="startDate">開始時間</label><input type="date" id="startDate" /></div>
    <div class="input_field"><label for="titleDescription">標題文字</label><input type="text" id="titleDescription" /></div>
    <div class="input_field file_field">
        <label for="channelLogo">頻道 Logo（可填網址或選擇檔案）</label>
        <input type="text" id="channelLogo"/>
        <input type="file" id="channelLogoFile" />
        <input type="hidden" id="channelLogoUrl" />
    </div>
    <div class="input_field"><label for="backgroundColor">背景顏色</label><input type="color" id="backgroundColor" /></div>
    <div class="input_field file_field">
        <label for="backgroundImage">背景圖片（可填網址或選擇檔案）</label>
        <input type="text" id="backgroundImage"/>
        <input type="file" id="backgroundImageFile" />
        <input type="hidden" id="backgroundImageUrl" />
    </div>
    <div class="input_field file_field">
        <label for="coverArt">封面圖（可填網址或選擇檔案）</label>
        <input type="text" id="coverArt"/>
        <input type="file" id="coverArtFile" />
        <input type="hidden" id="coverArtUrl" />
    </div>
    <div class="input_field">
        <label for="coverArtPosition">封面圖位置（需看主題是否支援）</label>
        <select name="coverArtPosition" id="coverArtPosition">
            <option value="left">左方（預設）</option>
            <option value="right">右方</option>
        </select>
    </div>
    <div class="input_field"><label for="coverDescription">封面說明</label><input type="text" id="coverDescription" /></div>
    <div class="input_field"><label for="styleColor">主題顏色（需看主題是否支援）</label>
            <select name="styleColor" id="styleColor">
                <option value="blue">藍色（預設）</option>
                <option value="red">紅色</option>
                <option value="orange">橘色</option>
                <option value="yellow">黃色</option>
                <option value="green">綠色</option>
                <option value="purple">紫色</option>
                <option value="white">白色</option>
                <option value="black">黑色</option>
            </select>
        </div>

    <div class="community_setting">
        <h3>社群設定</h3>
        <div class="input_field">
            <label for="community_youtube">Youtube</label>
            <input type="text" id="community_youtube" />
        </div>
        <div class="input_field">
            <label for="community_twitch">Twitch</label>
            <input type="text" id="community_twitch" />
        </div>
        <div class="input_field">
            <label for="community_twitter">Twitter</label>
            <input type="text" id="community_twitter" />
        </div>
       <div class="input_field">
            <label for="community_facebook">Facebook</label>
            <input type="text" id="community_facebook" />
        </div>
        <div class="input_field">
            <label for="community_instagram">Instagram</label>
            <input type="text" id="community_instagram" />
        </div>
        <div class="input_field">
            <label for="community_plurk">Plurk</label>
            <input type="text" id="community_plurk" />
        </div>
    </div>

    @{
        var dayChineseConverter = new Dictionary<int, string> {
            {1, "一"},
            {2, "二"},
            {3, "三"},
            {4, "四"},
            {5, "五"},
            {6, "六"},
            {7, "七"}
        };
    }

    @for(int i = 1 ; i <= 7 ; ++i){
        <div class="day_setting">
            <div class="input_field"><label for="day@(i)Style">第@(dayChineseConverter[i])天直播樣式</label>
                <select name="day@(i)Style" id="day@(i)Style">
                    <option value="work">工作</option>
                    <option value="holiday">假日</option>
                    <option value="none">不顯示</option>
                </select>
            </div>
            <div class="input_field"><label for="day@(i)TitleHidden">是否隱藏第@(dayChineseConverter[i])天直播標題？（需看主題是否支援）</label>
                <select id="day@(i)TitleHidden">
                    <option value="display">顯示</option>
                    <option value="hidden">不顯示</option>
                </select>
            </div>
            <div class="input_field"><label for="day@(i)Title">第@(dayChineseConverter[i])天直播標題</label><textarea id="day@(i)Title"></textarea></div>
            <div class="input_field"><label for="day@(i)TagHidden">是否隱藏第@(dayChineseConverter[i])天直播標籤？（需看主題是否支援）</label>
                <select id="day@(i)TagHidden">
                    <option value="display">顯示</option>
                    <option value="hidden">不顯示</option>
                </select>
            </div>
            <div class="input_field"><label for="day@(i)Tag">第@(dayChineseConverter[i])天直播標籤（以 , 隔開）</label><input type="text" id="day@(i)Tag" /></div>
            <div class="input_field"><label for="day@(i)Time">第@(dayChineseConverter[i])天直播時間</label><input type="text" id="day@(i)Time" /></div>
            <div class="input_field file_field">
                <label for="day@(i)Thumbnail">第@(dayChineseConverter[i])天封面圖（可填網址或選擇檔案，需看主題是否支援）</label>
                <input type="text" id="day@(i)Thumbnail"/>
                <input type="file" id="day@(i)ThumbnailFile" />
                <input type="hidden" id="day@(i)ThumbnailUrl" />
            </div>
        </div>
    }
</section>