section.weekly_container {
    position: relative;
    align-self: center;
    width: 95vw;
    margin-bottom: 25px;
    aspect-ratio: 16 / 9;

    
    &.smaller {
        box-sizing: border-box;
        width: 65vw;
        left: -15vw;
    }

    @media (max-width: 930px) {
        & {
            position: sticky;
            top: 0;
            z-index: 200;
        }

        &.smaller {
            box-sizing: content-box;
            width: 95vw;
        }
    }

    section.weekly {
        transition: transform cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
    }
}