@import "templates_weekly_common";

section.weekly_container {
    section.weekly {
        --theme-background-color: rgb(33, 19, 106);
        --theme-alpha-background-color: rgba(33, 19, 106, 0.7);
        --theme-color: white;
        --theme-inverted-color: black;
        --logo-color: invert(100%) sepia(100%) saturate(0%) hue-rotate(306deg) brightness(106%) contrast(101%);

        &.styleColor_red {
            --theme-background-color: hsl(0, 70%, 25%);
            --theme-alpha-background-color: hsl(0, 70%, 25%, 0.7);
        }

        &.styleColor_orange {
            --theme-background-color: hsl(30, 70%, 25%);
            --theme-alpha-background-color: hsl(30, 70%, 25%, 0.7);
        }

        &.styleColor_yellow {
            --theme-background-color: hsl(65, 70%, 25%);
            --theme-alpha-background-color: hsl(65, 70%, 25%, 0.7);
        }

        &.styleColor_green {
            --theme-background-color: hsl(121, 70%, 25%);
            --theme-alpha-background-color: hsl(121, 70%, 25%, 0.7);
        }

        &.styleColor_purple {
            --theme-background-color: rgb(61, 19, 106);
            --theme-alpha-background-color: rgb(61, 19, 106, 0.7);
        }

        &.styleColor_black {
            --theme-background-color: rgb(0, 0, 0);
            --theme-alpha-background-color: rgb(0, 0, 0, 0.7);
        }

        &.styleColor_white {
            --theme-background-color: rgb(208, 208, 208);
            --theme-alpha-background-color: rgb(208, 208, 208, 0.7);
            --theme-color: black;
            --theme-inverted-color: white;
            --logo-color: none;
        }

        position: absolute;
        display: flex;
        flex-direction: row-reverse;
        width: 1920px;
        height: 1080px;
        overflow: hidden;
        transform-origin: top left;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        border: 5px solid black;

        &:has(.reverse){
            flex-direction: row;

            .weekly_right_part {
                .weekly_community_container {
                    flex-direction: row;
                }

                nav.weekly_community {
                    ul{
                        justify-content: flex-start;
                    }
                }
            }
        }

        .weekly_left_part {
            position: absolute;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            left: 0;
            z-index: 2;
            width: 30%;
            height: 100%;
    
            &.reverse {
                left: auto;
                right: 0;
            }

            .weekly_author_part {
                position: absolute;
                bottom: 0;
                width: 80%;
                margin-bottom: 25px;
                left: 10%;
                padding-top: 10px;
                padding-bottom: 10px;
                text-align: center;
                color: white;
                font-weight: 700;
                font-size: 20pt;
                background-color: rgba(0,0,0,0.75);
                border-radius: 50px;
            }
        }
    
        .weekly_right_part {
            padding: 15px 15px 0px 15px;
            z-index: 3;
            width: 80%;

            .weekly_title_group {
                background-color: var(--theme-alpha-background-color);
                display: flex;
                width: max-content;
                padding: 10px 50px;
                margin: 8px auto;
                justify-content: center;
                align-items: center;
                gap: 25px;
                font-size: 50pt;
                color: white;
                border: 5px solid var(--theme-color);
                border-radius: 50px;
                backdrop-filter: blur(10px);
                box-shadow: 19px 26px 11px 1px rgba(0,0,0,0.75);

                --text-shadow-size: 2px;
                --text-shadow-minus-size: calc(var(--text-shadow-size) * -1);
                --text-shadow-color: black;
                text-shadow:
                    var(--text-shadow-minus-size) var(--text-shadow-minus-size) 0 var(--text-shadow-color),
                    0   var(--text-shadow-minus-size) 0 var(--text-shadow-color),
                    var(--text-shadow-size) var(--text-shadow-minus-size) 0 var(--text-shadow-color),
                    var(--text-shadow-size)  0   0 var(--text-shadow-color),
                    var(--text-shadow-size)  var(--text-shadow-size) 0 var(--text-shadow-color),
                    0    var(--text-shadow-size) 0 var(--text-shadow-color),
                    var(--text-shadow-minus-size)  var(--text-shadow-size) 0 var(--text-shadow-color),
                    var(--text-shadow-minus-size)  0   0 var(--text-shadow-color);
                height: 100px;
    
                img {
                    max-height: 90px;
                }

                .hidden {
                    display: none;
                }
            }
    
            ul.weekly_items {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-evenly;
                width: 100%;
                height: 760px;
                padding: 0;
    
                li.weekly_item {
                    background-color: rgba(255, 255, 255, 0.7);
                    display: grid;
                    align-items: center;
                    grid-template-rows: max-content minmax(0, 1fr);
                    list-style-type: none;
                    width: 350px;
                    height: 300px;
                    backdrop-filter: blur(10px);
                    box-shadow: 19px 26px 11px 1px rgba(0,0,0,0.75);

                    &:has(.content.stream_off){
                        background-color: rgba(86, 86, 86, 0.7);
                        backdrop-filter: blur(10px);

                        .weekly_item_date {
                            background: transparent;
                            color: #d0d0d0;
                            text-shadow: none;
                        }
                    }

                    &:has(.content.hidden){
                        display: none;
                    }

                    .weekly_item_date {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-weight: 700;
                        width: 100%;
                        height: 100px;
                        background-color: var(--theme-alpha-background-color);
                        color: var(--theme-color);
                        
                        text-shadow: 0.2em 0.2em 0.4em var(--theme-inverted-color);
    
                        .content_part {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            font-size: 25px;
                            width: 96%;
                            height: 96%;
                            box-sizing: border-box;
                            padding: 2px;
                            gap: 5px;
    
                            .date_part {
                                margin-left: 7px;
                                width: 150px;
                                font-size: 28pt;
                            }
    
                            .time_part {
                                width: 160px;
                                height: 100%;
                                font-size: 25px;
                            }
                        }
                    }
                }
    
                .content {
                    display: grid;
                    grid-template-rows: minmax(0, 1fr) 50px;
                    font-size: 25pt;
                    margin: 0 auto;
                    width: 100%;
                    height: 100%;
                    box-sizing: border-box;
                    padding: 15px;
                    color: black;
                    font-weight: 700;
                    overflow: hidden;
                    
                    .weekly_day_title {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: var(--theme-color);

                        --text-shadow-size: 2px;
                        --text-shadow-minus-size: calc(var(--text-shadow-size) * -1);
                        --text-shadow-color: var(--theme-alpha-background-color);
                        text-shadow:
                            var(--text-shadow-minus-size) var(--text-shadow-minus-size) 0 var(--text-shadow-color),
                            0   var(--text-shadow-minus-size) 0 var(--text-shadow-color),
                            var(--text-shadow-size) var(--text-shadow-minus-size) 0 var(--text-shadow-color),
                            var(--text-shadow-size)  0   0 var(--text-shadow-color),
                            var(--text-shadow-size)  var(--text-shadow-size) 0 var(--text-shadow-color),
                            0    var(--text-shadow-size) 0 var(--text-shadow-color),
                            var(--text-shadow-minus-size)  var(--text-shadow-size) 0 var(--text-shadow-color),
                            var(--text-shadow-minus-size)  0   0 var(--text-shadow-color);
                    }
    
                    ul.weekly_tags {
                        display: flex;
                        flex-direction: row-reverse;
                        padding: 0;
                        list-style-type: none;
                        column-gap: 5px;
                        row-gap: 5px;
                        flex-wrap: wrap-reverse;
                        align-self: flex-end;
                        justify-self: flex-end;
                        width: 100%;
                
                        li {
                            display: block;
                            text-align: center;
                            font-size: 15pt;
                            padding: 5px 5px;
                            min-width: 60px;
    
                            background-color: rgb(30, 30, 30);
                            color: white;
                            border-radius: 20px;
                            border: 1px solid white;
                            text-shadow: none;
                        }
                    }

                    &.stream_off {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        font-size: 50px;
                        
                        letter-spacing: 20px;
                        margin-left: 10px;
                        margin-right: -10px;

                        ul.weekly_tags {
                            position: absolute;
                            right: 15px;
                            bottom: 15px;
                            letter-spacing: 0;
                        }

                        .empty_tags {
                            display: none;
                        }

                        .weekly_day_title {
                            text-shadow: none;
                            color: transparent;
                            -webkit-text-stroke: 2px #a7a7a7;
                        }
                    }
                }
            }
        }

        .weekly_community_container {
            width: 100%;
            display: flex;
            flex-direction: row-reverse;
        }

        nav.weekly_community {
            width: 75%;

            ul {
                margin-top: 0px;
                padding: 0px;
                display: flex;
                flex-wrap: wrap-reverse;
                list-style-type: none;
                gap: 8px;
                font-size: 17pt;
                align-items: flex-start;
                justify-content: flex-end;
                min-height: 112px;
                
                li {
                    margin: 0px;
                    padding: 0px;

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    div {
                        display: flex;
                        color: var(--theme-color);
                        text-decoration: none;
                        width: max-content;
                        height: 50px;
                        text-align: center;
                        align-items: center;
                        justify-content: center;
                        font-weight: 700;
                        padding-left: 10px;
                        padding-right: 10px;
                        border-radius: 50px;

                        transition: background-color 0.5s, 
                                    border 0.5s;
        
                        background-color: var(--theme-background-color);
                        border: 1px solid white;
        
                        img.logo {
                            height: 75%;
                            filter: var(--logo-color);
                        }
        
                        &:hover, &:active {
                            background-color: white;
                            border: 2px solid black;
                            color: black;
        
                            img.logo {
                                filter: none;
                            }
                        }
                    }
                }
            }
        }
    }
}