@import "templates_weekly_common";

section.weekly_container {
    section.weekly {
        --item-content-background-color-base: rgba(30, 54, 109, 0.7);
        --item-content-background-color-decorator: rgba(13, 21, 101, 0.7);
        
        &.styleColor_red {
            --item-content-background-color-base: hsla(0, 57%, 27%, 0.7);
            --item-content-background-color-decorator: hsla(0, 77%, 22%, 0.7);
        }

        &.styleColor_orange {
            --item-content-background-color-base: hsla(22, 57%, 27%, 0.7);
            --item-content-background-color-decorator: hsla(22, 77%, 22%, 0.7);
        }

        &.styleColor_yellow {
            --item-content-background-color-base: hsla(57, 57%, 27%, 0.7);
            --item-content-background-color-decorator: hsla(57, 77%, 22%, 0.7);
        }

        &.styleColor_green {
            --item-content-background-color-base: hsla(129, 57%, 27%, 0.7);
            --item-content-background-color-decorator: hsla(129, 77%, 22%, 0.7);
        }

        &.styleColor_purple {
            --item-content-background-color-base: hsla(275, 57%, 27%, 0.7);
            --item-content-background-color-decorator: hsla(275, 77%, 22%, 0.7);
        }

        &.styleColor_black {
            --item-content-background-color-base: hsla(0, 0%, 24%, 0.7);
            --item-content-background-color-decorator: hsla(0, 0%, 0%, 0.7);
        }

        &.styleColor_white {
            --item-content-background-color-base: hsla(0, 0%, 100%, 0.7);
            --item-content-background-color-decorator: hsla(0, 0%, 78%, 0.7);
        }
        
        --item-content-background: repeating-linear-gradient( 
            -45deg, 
            var(--item-content-background-color-base), 
            var(--item-content-background-color-base) 5px, 
            var(--item-content-background-color-decorator) 5px, 
            var(--item-content-background-color-decorator) 25px );

        position: absolute;
        display: grid;
        grid-template-columns: 1fr 2fr;
        width: 1920px;
        height: 1080px;
        overflow: hidden;
        transform-origin: top left;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        border: 5px solid black;

        &:has(.reverse) {
            grid-template-columns: 2fr 1fr;
            
            .weekly_right_part {
                .weekly_community_container {
                    flex-direction: row;
                }

                nav.weekly_community {
                    ul{
                        justify-content: flex-start;
                    }
                }
            }
    
        }
    
        .weekly_left_part {
            position: relative;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            
            &.reverse {
                order: 1;
            }

            .weekly_author_part {
                position: absolute;
                bottom: 0;
                width: 100%;
                padding-top: 20px;
                padding-bottom: 20px;
                text-align: center;
                color: white;
                font-weight: 700;
                font-size: 20pt;
                background-color: rgba(0,0,0,0.75);
    
            }
        }
    
        .weekly_right_part {
            padding: 15px 15px 0px 15px;
            background-color: rgba(10, 10, 10, 0.7);
    
            .weekly_title_group {
                display: flex;
                margin: 15px 0;
                justify-content: center;
                align-items: center;
                gap: 25px;
                font-size: 50pt;
                color: white;
                
                --text-shadow-size: 3px;
                --text-shadow-minus-size: calc(var(--text-shadow-size) * -1);
                text-shadow:
                    var(--text-shadow-minus-size) var(--text-shadow-minus-size) 0 #000,
                    0   var(--text-shadow-minus-size) 0 #000,
                    var(--text-shadow-size) var(--text-shadow-minus-size) 0 #000,
                    var(--text-shadow-size)  0   0 #000,
                    var(--text-shadow-size)  var(--text-shadow-size) 0 #000,
                    0    var(--text-shadow-size) 0 #000,
                    var(--text-shadow-minus-size)  var(--text-shadow-size) 0 #000,
                    var(--text-shadow-minus-size)  0   0 #000;
                height: 150px;
    
                img {
                    max-height: 135px;
                }
                
                .hidden {
                    display: none;
                }
            }
    
            ul.weekly_items {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                grid-template-columns: auto;
                width: 100%;
                height: 760px;
                padding: 0;
    
                li.weekly_item {
                    display: grid;
                    align-items: center;
                    grid-template-columns: max-content minmax(0, 1fr);
                    gap: 10px;
                    list-style-type: none;
                    width: 100%;
                    height: 100px;

                    &:has(.content.hidden){
                        display: none;
                    }
    
                    .weekly_item_date {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: black;
                        color: white;
                        border-radius: 10px;
                        padding: 5px 5px;
                        font-weight: 700;
                        width: 320px;
                        height: 80%;
                        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    
                        .content_part {
                            display: flex;
                            align-items: end;
                            font-size: 50px;
                            width: 96%;
                            height: max-content;
                            border: 1px solid white;
                            border-radius: 10px;
                            box-sizing: border-box;
                            padding: 2px;
    
                            .date_part {
                                margin-left: 7px;
                                width: 150px;
                            }
    
                            .time_group_part {
                                width: 160px;
                                height: 100%;
                                font-size: 30px;
                            }
                        }
                    }
                }
    
                .content {
                    display: flex;
                    align-items: center;
                    font-size: 25pt;
                    padding: 10px;
                    height: 95%;
                    box-sizing: border-box;
                    border-radius: 10px;
                    background: var(--item-content-background);
                    color: white;
                    font-weight: 700;
                    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
                    text-shadow: 0.2em 0.2em 0.4em black;
                    padding-left: 30px;
                    overflow: hidden;
                    
                    &.stream_off {
                        display: flex;
                        justify-content: center;
                        letter-spacing: 20px;
                        color: transparent;
                        -webkit-text-stroke: 2px #999999;
                        background-color: #808080;
                        background: repeating-linear-gradient( -45deg, rgba(73, 73, 73, 0.7), rgba(73, 73, 73, 0.7) 5px, rgba(128, 128, 128, 0.7) 5px, rgba(128, 128, 128, 0.7) 25px );
                        
                        ul.weekly_tags {
                            letter-spacing: 0px;
                            color: white;
                            -webkit-text-stroke: 0px;
                        }
                    
                    }
    
                    ul.weekly_tags {
                        display: flex;
                        flex-wrap: wrap;
                        padding: 0;
                        list-style-type: none;
                        column-gap: 10px;
                        row-gap: 15px;
                        margin-right: 15px;
                
                        &.empty_tags {
                            display: none;
                        }

                        li {
                            display: block;
                            text-align: center;
                            font-size: 15pt;
                            padding: 10px 20px;
                            min-width: 60px;
    
                            background-color: rgb(30, 30, 30);
                            color: white;
                            border-radius: 20px;
                            border: 1px solid white;
                            text-shadow: none;
                        }
                    }
                }
            }
        }

        nav.weekly_community {
            margin-top: 40px;

            ul {
                margin: 25px 0px;
                padding: 0px;
                display: flex;
                flex-wrap: nowrap;
                list-style-type: none;
                align-items: center;
                justify-content: flex-end;
                gap: 8px;
                font-size: 17pt;
                
                li {
                    margin: 0px;
                    padding: 0px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
        
                    div {
                        display: flex;
                        color: white;
                        text-decoration: none;
                        width: max-content;
                        height: 50px;
                        text-align: center;
                        align-items: center;
                        justify-content: center;
                        font-weight: 700;
                        padding-left: 10px;
                        padding-right: 10px;
        
                        border: 2px solid;
                        border-radius: 50px;
        
                        transition: background-color 0.5s, 
                                    border 0.5s;
        
                        &.twitter{
                            background-color: rgb(30, 174, 251);
                            border-color: rgb(30, 174, 251);
                        }
        
                        &.youtube{
                            background-color: rgb(235, 0, 0);
                            border-color: rgb(235, 0, 0);
                        }
        
                        &.facebook{
                            background-color: rgb(26, 93, 205);
                            border-color: rgb(26, 93, 205);
                        }
        
                        &.instagram {
                            background-color: rgb(238, 7, 153);
                            border-color: rgb(238, 7, 153);
                        }
        
                        &.plurk {
                            background-color: rgb(255, 87, 77);
                            border-color: rgb(255, 87, 77);
                        }

                        &.twitch {
                            background-color: rgb(133, 3, 214);
                            border-color: rgb(133, 3, 214);
                        }
        
                        img.logo {
                            height: 75%;
                            filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(306deg) brightness(106%) contrast(101%);
                        }
        
                        &:hover, &:active {
                            background-color: white;
                            border: 2px solid black;
                            color: black;
        
                            img.logo {
                                filter: none;
                            }
                        }
                    }
                }
            }
        }
    }
}