.post_content, .page_content {
    width: 100%;
    font-size: 15pt;
    line-height: 1.5;
    padding-bottom: 23px;

    h1 {
        margin: 5px 0px;
        font-size: 32pt;
    }

    h3 {
        margin: 2px 0px;
        font-size: 15pt;
        color: grey;
    }

    a {
        color: rgb(1, 12, 129);
        text-decoration: none;

        &:hover, &:active {
            color: grey;
        }

        &.linkContentSame {
            overflow-wrap: break-word;
            word-wrap: break-word;
        }
    }

    img {
        display: block;
        width: 95%;
        margin: 0 auto;
    }

    img.title_icon {
        display: inline-block;
        width: 15px;
        height: 15px;
        margin-right: 8px;
        filter: invert(50%) sepia(17%) saturate(0%) hue-rotate(181deg) brightness(98%) contrast(80%);
    }

    hr {
        margin: 15px 0;
    }

    iframe {
        display: block;
        margin: 0 auto;

        @media (max-width: 930px) {
            
        }

        &[src*="youtube"] {
            width: 95%;
            height: 100%;
            aspect-ratio: 560 / 315;
        }
    }

    .post_meta, .page_meta {
        margin-bottom: 15px;
    }
}