button#download_weekly {
    border: 3px solid rgb(14, 11, 102);
    margin-bottom: 15px;
    background-color: white;
    width: max-content;
    font-size: 15pt;
    font-weight: 700;

    &:hover, &:active {
        border: 3px solid white;
        background-color: black;
        color: white;
    }
}

