html, body {
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', 'Noto Sans TC', 'Noto Sans SC', sans-serif;
    line-height: 1.25;
    font-weight: 400;
    font-size: 13pt;
}

@import "header";
@import "content";
@import "community";
@import "footer";
@import "template_list";
@import "post_and_page";
@import "button_list";