Title: "方格版本"
Author: "悠太翼"
Thumbnail: "/images/weekly/template2.webp"
OutsidePageContent: true
TemplateCssFile: "/styles/templates/templates2.css"
Published: 2023/04/15
---
@Html.Partial("_ButtonList")

<section class="weekly_container">
    <section class="weekly">
        <section class="weekly_left_part">
            <div class="weekly_author_part"></div>
        </section>
        <section class="weekly_right_part">
            <div class="weekly_title_group"><div class="channel_logo_part"></div><h1 class="weekly_title">本週行事曆</h1></div>
            <ul class="weekly_items">
                @foreach(var index in Enumerable.Range(0, 7)){
                    <li class="weekly_item">
                    <div class="weekly_item_date">
                        <div class="content_part">
                            <div class="date"><span class="date_part">00/00</span><span class="weekday_part"></span></div>
                            <div class="time"><span class="time_part"></span></div>
                        </div>
                    </div>
                    <div class="content stream_off"></div>
                    </li>
                }
            </ul>
            <nav class="weekly_community">
                <ul>

                </ul>
            </nav>
        </section>
    </section>
</section>

@Html.Partial("_DataForm")

<script src='@Context.GetLink("/scripts/weekly.js")'></script>
